body {
  background-color: green;
  background-image: url("images/table.jpg");
  background-size: cover;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  color: white;
  font-size: 20px;
}

h1 {
  color: goldenrod;
}

#message-el {
  font-style: italic;
}

/* 
3. Style the button according to the provided design */

.button {
  color: #016f32;
  width: 150px;
  background-color: goldenrod;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20px;
  border: none;
  border-radius: 2px;
  margin-bottom: 2px;
  margin-top: 2px;
}

#player-el {
  color: bisque;
  font-size: 30px;
}

#submessage {
  color: rgba(255, 136, 0, 0.87);
}

.image-container {
  display: flex;
  justify-content: center; /* Centers the images horizontally */
  align-items: center; /* Centers the images vertically within the container */
}
.image-container img {
  margin-right: 10px; /* Optional: space between images */
}

.hidden {
  visibility: hidden;
  opacity: 0;
}
